@function diagonalBg($base) {
    
    @return linear-gradient($base, var(--light-bg) 60%, var(--black-clr) 40%)
}

:root {
    --br-clr: #ffffff40;
    --white-clr: #FFFFFF;
    --light-bg: #141414;
    --black-clr: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}


#viewer {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    position: relative;
    top: 0;
    z-index: 999999;
    left: 0;

}

.app {
    min-height: 100vh;
    min-width: 100vw;
}

.tour {
    &-container {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        left: 0;
        top: 0;
        background: #00000099;
        z-index: 99999;
        padding: 80px 120px;
        &__closer{
            background: transparent;
            outline: none;
            border: none;
            cursor: pointer;
            justify-self: flex-end;
            max-height: fit-content;
            max-width: fit-content;
            padding: 16px 0 16px 16px;
            &-icon {
                width: 22px;
                height: 22px;
            }
        }
    }
    &-street {
        &__code {
            color: var(--white-clr);
            border: 1px solid var(--white-clr);
            padding: 2px 8px;
            margin-right: 10px;
        }

        &__name {
            color: var(--white-clr);
        }
    }
    &-header {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
    }
}

.container {
    width: 100%;
    height: 100%;
}

.main{
    min-height: 100%;
    &-city {
        position: absolute;
        min-height: 100vh;
        min-width: 100vw;
        overflow: hidden;
        &__picture {
            width: 100vw;
            height: 100vh;
            z-index: 10;
            position: absolute;
            overflow: hidden;
           
        }

        &__shadows{
            &::before {
                content: "";
                display: block;
                width: 100vw;
                height: 100vh;
                position: absolute;
                top: -182px;
                left: 0;
                opacity: 70%;
                background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
                z-index: 20;
            }
            &::after {
                content: "";
                display: block;
                width: 100vw;
                height: 100vh;
                position: absolute;
                bottom: -112px;
                left: 0;
                opacity: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0) 74%, #000000 100%);
                z-index: 20;
            }
        }

        &__marks {
            position: absolute;
            z-index: 1000;
            width: 100vw;
            height: 100vh;
        }
    }
    
        
}

.header {
    z-index: 100;
    position: relative;
    padding: 30px 30px 0 30px;
    &-container {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid var(--br-clr);
    }

    &-logo {
        border-right: 2px solid var(--br-clr);
        padding: 0 20px 9px 0;
    }
}

.contacts {
    display: flex;
    &-socials {
        display: flex;
        padding: 10px 12.5px;
        border-left: 2px solid var(--br-clr);
        &__item {
            padding: 0 7.5px;
        }
    }   

    &__phone {
        border-left: 2px solid var(--br-clr);
        display: flex;
        align-items: center;
        color: var(--white-clr);
        padding: 0 6px 0 15px;
    }
}


.main {
    position: relative;
    z-index: 100;
}

.diagonal__btn {
    border: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 3px 4px;
    border: 2px solid;
    border-image: linear-gradient(140deg, var(--light-bg) 60%, transparent 40%);
    background: diagonalBg(var(--diagonal-deg));
    position:absolute;
    cursor: pointer;
    // &::before {
    //     content: "";
    //     border: 2px solid;
    //     border-image: linear-gradient(0deg, var(--light-bg) 60%, var(--black-clr) 0%);
    //     background: diagonalBg(var(--diagonal-deg));
    //     width: 100%;
    //     height: 100%;
    //     left: 0;
    //     top:0;
    //     position: absolute;
    //     z-index: 100;
    // }

    & .btn__symbol {
        background: var(--white-clr);
        color: var(--black-clr);
        padding: 4px 6px;
        margin-right: 10px;
    }
    & .btn__text {
        color: white;
        position: relative;
        z-index: 100;
        padding: 2px 8px;
    }
}
